<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.PublishMeetingRoomMapper">

    <select id="getMyMeetingRoomByPhoneAndDate"
            resultType="com.api.entity.ShowMeetingRedord">
SELECT
	c.id,
	c. NAME,
	d.bookUser,
	d.amOrPm,
	d.startTime,
	d.endTime,
	d.threaf,
	d.id AS mid,
	d.meetingDate
FROM
	(
		SELECT
			b.id,
			b. NAME
		FROM
			tb_user_dep_meeting a
		LEFT JOIN tb_user_dep_meeting b ON a.parentId = b.parentId
		WHERE
			a.phone = #{phone}
		AND a.parentId = b.parentId
		AND b.type = 2
	) c
LEFT JOIN tb_bookmeeting d ON c.id = d.meetingroom
AND d.meetingDate = #{dateStr}

    </select>

    <insert id="insertPublishMeeting"
            parameterType="com.api.entity.BookMeetingDbInfoRecord"
            useGeneratedKeys="true" keyProperty="id">
		insert into tb_bookmeeting(bookUser, meetingDate,amOrPm,startTime,
		endTime,meetingroom,threaf,content,person,clothes,wakeType,meetingDiscipline,
		connectPerson,connectPhone,files,QRcode,createTime,remark)
		values(#{bookUser}, #{meetingDate}, #{amOrPm}, #{startTime},
		 #{endTime}, #{meetingroom}, #{threaf}, #{content}, #{person}
		 , #{clothes}, #{wakeType}, #{meetingDiscipline}, #{connectPerson},
		 #{connectPhone}, #{files}, #{QRcode}, #{createTime},
		 #{remark})
	</insert>

    <select id="getMeetingInfoById"
            resultType="com.api.entity.BookMeetingDbInfoRecord">
		select *
		from tb_bookmeeting
		WHERE id = #{id}
    </select>

    <select id="getMyBeingMeeting"
            resultType="com.api.entity.MyMeetingInfoRecord">

SELECT temp.*,m.name as department FROM
(SELECT b.id,b.bookUser, b.threaf,b.meetingDate,b.meetingroom,b.startTime,b.endTime,
b.person,u.name,d.parentId from tb_bookmeeting b
LEFT JOIN tb_user_dep_meeting u on b.meetingroom=u.id
LEFT JOIN tb_user_dep_meeting d ON b.bookUser = d.phone
where (b.bookUser =#{bookUser} or b.person like CONCAT('%',#{personId},'%'))
and (b.meetingDate =#{date1} or b.meetingDate=#{date2} or b.meetingDate=#{date3})
) temp
LEFT JOIN tb_user_dep_meeting m ON temp.parentId = m.id ORDER BY temp.meetingDate DESC

   </select>

    <select id="getMyBedMeeting"
            resultType="com.api.entity.MyMeetingInfoRecord">

		SELECT temp.*,m.name as department FROM
		(SELECT b.id,b.bookUser, b.threaf,b.meetingDate,b.meetingroom,b.startTime,b.endTime,
		b.person,u.name,d.parentId from tb_bookmeeting b
		LEFT JOIN tb_user_dep_meeting u on b.meetingroom=u.id
		LEFT JOIN tb_user_dep_meeting d ON b.bookUser = d.phone
		where (b.bookUser =#{bookUser} or b.person like CONCAT('%',#{personId},'%'))
		and (b.meetingDate !=#{date1} and b.meetingDate !=#{date2} and b.meetingDate !=#{date3})
		) temp
		LEFT JOIN tb_user_dep_meeting m ON temp.parentId = m.id ORDER BY temp.meetingDate DESC  LIMIT #{count}

	</select>

    <update id="updateMeetingInfoById"
            parameterType="com.api.entity.BookMeetingDbInfoRecord">
        UPDATE tb_bookmeeting
        <trim prefix="SET" suffixOverrides=",">

            <if test="null != meetingDate and '' != meetingDate">
                meetingDate = #{meetingDate} ,
            </if>

            <if test="amOrPm != amOrPm and '' != amOrPm">
                amOrPm = #{amOrPm},
            </if>

            <if test="null != startTime and '' != startTime">
                startTime = #{startTime},
            </if>

            <if test="null != endTime and '' != endTime">
                startTime = #{startTime},
            </if>

            <if test="null != meetingroom and '' != meetingroom">
                meetingroom = #{meetingroom},
            </if>

            <if test="null != threaf and '' != threaf">
                threaf = #{threaf},
            </if>

            <if test="null != content and '' != content">
                content = #{content},
            </if>

            <if test="null != person and '' != person">
                person = #{person},
            </if>

            <if test="null != personName and '' != personName">
                personName = #{personName},
            </if>

            <if test="null != clothes and '' != clothes">
                clothes = #{clothes},
            </if>

            <if test="null != meetingDiscipline and '' != meetingDiscipline">
                meetingDiscipline = #{meetingDiscipline},
            </if>

            <if test="null != connectPerson and '' != connectPerson">
                connectPerson = #{connectPerson},
            </if>

            <if test="null != connectPhone and '' != connectPhone">
                connectPhone = #{connectPhone},
            </if>

            <if test="null != remark and '' != remark">
                remark = #{remark},
            </if>

        </trim>

        where id = #{id}
    </update>

</mapper>
